{% extends "new-base.html" %}
{% set title = "Play Video" %}
{% block content %}
<section class="m-8 mb-0">
    <div class="flex gap-8">
        <div id="videoContainer" class="w-2/3">
            <video id="videoPlayer" class="w-full rounded-t-xl">
                <source src="{{ url_for('serve_video', filename=filename) }}" type="video/mp4">
            </video>
            <div class="text-lg flex items-center gap-4 px-4 py-2
                rounded-b-xl shadow-sm bg-gradient-to-r from-indigo-400 to-purple-400 text-white">
                <span class="text-base">Media Controls</span>
                <div class="flex-col gap-2">
                <button onclick="rewindVideo()" class="fa-solid fa-backward-step hover:text-gray-400"
                   aria-label="Rewind Video" id="rewindButton"></button>
                </div>
                <div class="flex-col gap-2">
                <button id="playButton" onclick="playVideo()" class="fa-solid fa-play hover:text-gray-400"
                   aria-label="Play Video"></button>
                </div>
                <div class="flex-col gap-2">
                    <button onclick="skipVideo()" class="fa-solid fa-forward-step hover:text-gray-400"
                    aria-label="Skip Video"></button>
                </div>
                <label class="hidden" for="progressBar">Video Player Progress Bar</label>
                <input id="progressBar" class="flex-grow" type="range" value="0"
                       aria-label="Video Progress" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div>
                    <span id="currentTimestamp">0:00</span>
                    <span> / </span>
                    <span id="videoDuration">{{ video_data["video_length"] }}</span>
                </div>
                <div class="flex-col gap-2">
                    <div class="flex flex-grow items-center gap-2">
                        <button id="muteButton" onclick="muteVideo()"
                        class="fa-solid fa-volume-high hover:text-gray-400" aria-label="Mute Video"></button>
                        <input id="volumeSlider" value="1" min="0" max="1" step="0.01" class="w-1/2" type="range"
                        aria-label="Volume Control" aria-valuemin="0" aria-valuemax="1" aria-valuenow="1">
                    </div>
                </div>
                <span class="text-base">Capture Controls</span>
                <button onclick="captureCode()" class="fa-solid fa-expand hover:text-gray-400"
                   aria-label="Capture Code"></button>
                <button onclick="openInIde()" class="fa-solid fa-laptop-code hover:text-gray-400"
                   aria-label="Open in IDE"></button>
            </div>
            <div class="ml-2 mt-1">
                <h2 class="text-2xl">{{ video_data["alias"] }}</h2>
                <p class="text-gray-400">/videos/{{ video_data["filename"] }}</p>
            </div>
        </div>
        <div id="codeCapture" class="w-1/3 grow-0">
            <div id="captureParentContainer" class="bg-white border border-gray-200 shadow-sm rounded-xl p-4 pt-2">
                <h2 class="text-2xl">Code Captures</h2>
                <hr class="my-2">
                <div class="flex gap-2">
                    <button onclick="captureCode()" id="mainCaptureButton" class="w-1/2 p-1 bg-gradient-to-r from-indigo-400 to-purple-400
                        text-white flex flex-col shadow-sm rounded-xl hover:underline text-sm">
                        <span><i class="fa-solid fa-expand mr-2"></i>Capture Code on Frame</span>
                        <span class="text-xs my-1 text-gray-200">({{ hotkeys["capture_code"] }})</span>
                    </button>
                    <button onclick="openInIde()" class="w-1/2 p-1 bg-gradient-to-r flex flex-col from-indigo-400 to-purple-400 text-white
                        shadow-sm rounded-xl hover:underline text-sm">
                        <span><i class="fa-solid fa-laptop-code mr-2"></i>Open Latest Capture in IDE</span>
                        <span class="text-xs my-1 text-gray-200">({{ hotkeys["open_in_ide"] }})</span>
                    </button>
                </div>
                <hr class="my-2">
                <div class="overflow-y-auto" id="captureOutputContainer">
                    {% for capture in video_data["captures"] %}
                    <div class="border border-gray-200 mb-2 p-2 pt-0 shadow-sm rounded-xl bg-white">
                        <p class="text-gray-400 text-xs flex justify-between border-b border-gray-200 py-1">
                            <span >Captured @ Timestamp: {{ capture["timestamp"] }}</span>
                            <button onclick="openInIde('code_{{ loop.index0 }}')"
                               class="underline text-purple-600 hover:cursor-pointer">Open in IDE</button>
                        </p>
                        <pre class="overflow-x-auto"><code id="code_{{ loop.index0 }}"
                             class="w-full whitespace-pre language-python text-xs"
                             contenteditable="true"
                            >{{ capture["capture_content"] }}</code></pre>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <script>
                {# Work around for overflow issues with long non - breaking strings #}
                let pc = document.getElementById("captureParentContainer");
                let oc = document.getElementById("captureOutputContainer");
                let cc = document.getElementById("codeCapture");
                pc.style.height = window.innerHeight - (pc.getBoundingClientRect().top * 2) + "px";
                oc.style.height = window.innerHeight - (oc.getBoundingClientRect().top + pc.getBoundingClientRect().top) + "px";
                cc.style.maxWidth = cc.offsetWidth + "px";
            </script>
        </div>
    </div>
</section>
<script>
    let nextCodeId = '{{ video_data["captures"]|length }}';
    let progress = '{{ video_data["progress"] }}';
</script>
<script src="{{url_for('static', filename='js/mediaControls.js')}}"></script>
{% endblock %}
